* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}


header{
    background-image: url(../img/jumbo.png);
    height: 500px;
    background-size: cover;
}

footer{
    background-color: #23272a;
    background-size: cover;
}

p {
    line-height: 25px;
}

ul> li {
    padding: 0 20px;
    display: inline-block;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
} 

section.header-container {
    max-width: 70%;
    margin: auto;
}

a {
    font-size: 0.8em;
    color: white;
    text-decoration: none;
}

img {
    max-width: 678px;
    max-height: 440px;
}

#login li button {
    border: none;
    border-radius: 20px;
    padding: 8px 13px;
}

.header-bar {
    padding-top: 20px;
    position: relative;
}

#login {
    position: absolute;
    right: 0;
    padding-top: 8px;
}

#tool-bar {
    padding-left: 140px;
}


.page-presentation {
    padding: 100px 50px;
    text-align: center;
}

h1.title {
    padding-bottom: 30px;
    font-size: 3em;
}

button.download-button {
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
}

.page-presentation .paragraph {
    line-height: 25px;
    padding-bottom: 20px;
}

.row-container {
    max-width: 70%;
    margin: auto;
    height: calc(500px + 200px );
    padding-bottom: 100px;
    padding-top: 100px;
}

.row-container img {
    width: 60%;
    vertical-align: middle;
    padding-right: 40px;
}

.text-container {
    padding: 55px;
    vertical-align: middle;
    display: inline-block;
    width: 38%;
}

.text-container h1 {
    font-size: 2.5em;
    padding-bottom: 20px;
}

.left-text .text-container {
    padding: 55px 110px 55px 0;
    vertical-align: middle;
    display: inline-block;
    width: 38%;
}


 .left-text #right-img{
    width: 60%;
    vertical-align: middle;
    padding-top: 100px;
    padding-right: inherit;
}

.bg-container.gray {
    background-color: #f1f1f1;
}


h1.final-title {
    padding-bottom: 30px;
    font-size: 2.5em;
}

h2#star-bg {
    padding-bottom: 25px;
}

.footer-container {
    max-width: 70%;
    margin: auto;
}

.main-footer {
    border-bottom: 1px solid #a3a8ff;
    padding-top: 90px;
    padding-bottom: 25px;
}

.space-line{
    padding-bottom: 20px;
}

.footer-column {
    float: left;
    padding-right: 90px;
}
}

.line-h {
    line-height: 20px;
}

p.footer-column-row.white-word  {
    line-height: 30px;
}

h4.purple-word {
    line-height: 30px;
}

.endpage-toolbar {
    position: relative;
    padding: 30px 0;
}

.end-logo {
    float: left;
}

.end-register {
    position: absolute;
    right: 0;
}

button.button {
    border: none;
    border-radius: 20px;
    padding: 8px 12px;
}

p.footer-column-row.white-word a {
    font-size: 1em;
}











.button-distanziator {
    padding-right: 20px;
}


.white-button {
    background-color: white;
}

.black-button{
    background-color: black;
}

.purple-button{
    background-color: #a3a8ff;
}

.white-word{
    color: white;
}

.purple-word{
    color: #a3a8ff;;
}

/* #star-bg {
    background-position: top;
    background-image: url(../img/stars.svg);
    background-repeat: round;

} */

.icon img {
    width: 20px;
    margin-right: 5px;
}

#logo,
#tool-bar,
#login {
    
   display: inline-block;
   vertical-align: middle;
}